
@charset "UTF-8";

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  padding: 0;
  margin: 0;
  font-weight: inherit;
}

.flex_class {
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.fieldset_width{
    width: 20rem;
}

.form_class, .form_class > * {
    margin:0.5rem;
}

header, footer {
    margin: 0.5rem;
    text-align: center;
}

.main_class {
    display: flex;
    justify-content: center;
}

.required:after {
    content: " *";
    color: red;
}

/*Table*/
.general_table {
    border: 0.14rem solid black;
    background-color: rgba(255, 255, 255, 0);
    border-collapse: collapse;
    border-spacing: 0;
    margin: auto;
}

.general_table thead {
    background-color: rgba(0, 0, 0, 0.1);
}

.general_table td{
    border: 0.14rem solid black;
    padding: 0.3rem;
}

.general_table th{
    border: 0.14rem solid black;
    padding: 0.3rem;
    font-weight: bold;
    font-size: 1.2rem;
}




/*classer för färgning av jämna td och tr taggar*/

.general_table--color_even_hor tbody td:nth-child(even){
    background-color: rgba(162, 0, 255, 0.14);
}

.general_table--color_even_ver tr:nth-child(even){
    background-color: rgba(0, 117, 252, 0.14);
}