
@charset "UTF-8";

/* Box sizing rules */

*,
*::before,
*::after {
  box-sizing: border-box;
  color: inherit;
  padding: 0;
  margin: 0;
  font-weight: inherit;
}

.flex_class {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.form_class, .form_class > * {
    padding:0.5rem;
}

header, footer{
    padding: 0.5rem;
}

.required:after {
    content: " *";
    color: red;
}