<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulär Visning</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <table class="general_table general_table--color_even_ver general_table--color_even_hor">
            <caption><h2>Data från formuläret</h2></caption>
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Temp</th>
                    <th>Pressure</th>
                    <th>Humidity</th>
                </tr>
            </thead>
            <tbody>
                {% for item in data %}
                    <tr>
                        <td>{{item.Time}}</td>
                        <td>{{item.Temp}}</td>
                        <td>{{item.Pressure}}</td>
                        <td>{{item.Humidity}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <!--this is optional <tfoot> for summrys and such-->
        </table>
    </main>
</body>
</html>

<!-- https://stackoverflow.com/questions/27658482/how-to-parse-and-render-json-use-in-flask-template -->