<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Väderdata</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <main>
        <table class="general_table general_table--color_even_ver general_table--color_even_hor">
            <!--Loops to display generated weatherdata in a table format-->
            <caption><h2>Väderdata</h2></caption>
            <thead>
                <tr>
                    {% for item in data.datakeys %}
                        <th>{{item}}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for item in data.data %}
                    <tr>
                        {% for key in data.datakeys %}
                        <td>{{item[key]}}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
            <!--This is optional <tfoot> for summrys and such-->
        </table>
    </main>
</body>
</html>

<!-- https://stackoverflow.com/questions/27658482/how-to-parse-and-render-json-use-in-flask-template -->